@C1: #f65c2d; // 全局主色
@C2: #52c41a; // 成功色
@C3: #faad14; // 警告色
@C4: #f5222d; // 错误色
@C5: #09f; // 蓝色主色调
@C6: #f8f8f8; // side背景色
@C7: #fff9ee; 
@C8: #eaf7ff;

// color
@primary-color:#09f;
@component-background: #fff;

// animation
@ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);

:export {
  C1: @C1
}